section#first-content {
  display: flex;
  flex-direction: column;
}
#titulo {
  text-align: center;
  font-size: 3vw;
  margin: 4%;
}
#titulo h3 b {
  color: #c80000;
}
#texto {
  text-align: justify;
  font-size: 4vw;
}
#frase {
  text-align: center;
  font-size: 7vw;
  padding: 8% 4%;
  font-weight: bold;
}
#frase strong {
  font-size: 9vw;
  color: #c80000;
}
@media (min-width: 700px) {
  section#first-content {
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: 15% 50% 35%;
  }
  #botoes_atalhos_main {
    grid-row: 1 / 3;
    grid-column: 1;

    display: flex;
    align-items: center;
  }
  #titulo {
    grid-row: 1;
    grid-column: 2;

    font-size: 1.7vw;
  }
  #texto {
    grid-row: 2 / 3;
    grid-column: 2;
    font-size: 2vw;
  }
  #frase {
    grid-row: 3;
    grid-column: 1/3;

    font-size: 3vw;

    display: flex;
    align-items: flex-end;
  }
}
