div#botoes_atalhos {
  display: flex;
  justify-content: center;
  margin-bottom: 7%;
}
div#botoes_atalhos a {
  display: flex;
  justify-content: center;
  width: 15vw;
}
div#botoes_atalhos a img {
  width: 5vw;
}
@media (max-width: 400px) {
  div#botoes_atalhos a {
    width: 25vw;
  }
  div#botoes_atalhos a img {
    width: 7vw;
  }
}
@media (min-width: 700px) {
  div#botoes_atalhos {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  div#botoes_atalhos a {
    margin-bottom: 3vw;
    width: 10vw;
  }
  div#botoes_atalhos a img {
    width: 50%;
  }
}
