#main-header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 40px;
}
#main-header div {
  width: 150px;
  height: 150px;
  background-image: url("../../assets/images/comics.png");
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 3vw;
}
#main-header #title {
  font-size: 7vw;
  text-align: justify;
}
#main-header #subtitle {
  font-size: 3vw;
  font-weight: lighter;
  text-align: center;
  margin-top: 3%;
}
@media (min-width: 700px) {
  #main-header #title {
    font-size: 4vw;
    text-align: center;
  }

  #main-header #subtitle {
    font-size: 2vw;
  }
}
