.books article {
  display: flex;
  flex-direction: column;
  background-color: #48a4d6;
  border: solid #c80000;
  border-radius: 5px;
  margin: 2%;
  padding: 2%;
}
.books article:hover {
  background-color: #317499;
}
.books .title {
  text-align: center;
  font-size: xx-large;
}
.books .autores {
  text-align: center;
}
.books .categories {
  margin: 1%;
  text-align: center;
  color: #c80000;
}
.books img {
  align-self: center;
  width: 20%;
}
.books .description {
  padding: 1%;
  text-align: justify;
}
.books a {
  text-align: center;
  text-decoration: none;
  color: black;
}
