div.footer p {
  margin: 5%;

  text-align: center;
  font-weight: bold;
  font-size: 3.7vw;
}
div.footer p a {
  text-decoration: none;
  color: #c80000;
}

@media (min-width: 700px) {
  div.footer p {
    font-size: 2.7vw;
  }
}
