div.footer {
  margin: 5%;
  border-top: 2px solid #2b2d42;
  border-bottom: 2px solid #fca311;
}
div.footer p {
  margin: 2%;
  text-align: center;
  font-weight: bold;
  font-size: 3.7vw;
  color: #2b2d42;
}
div.footer p a {
  text-decoration: none;
  color: #fca311;
}

@media (min-width: 700px) {
  div.footer p {
    font-size: 2vw;
  }
}
